@model DAL.Models.Defect

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post" asp-controller="Defects">
    <div class="form-horizontal">
        <h4>Defect</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DateCreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input id="dateCreatedDatepicker" name="defect.DateCreated" asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TermDateTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input id="termDateDatepicker" name="defect.TermDateTime" asp-for="TermDateTime" class="form-control" />
                <span asp-validation-for="TermDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-10">
                <div class="checkbox">
                    <input id="defect.IsFixed" asp-for="IsFixed" />
                    <label asp-for="IsFixed"></label>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <table class="table table-bordered table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Creator
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Photo
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-rows">
                        @for (int i = 0; i < Model.Photos.Count; i++)
                        {
                            <tr>
                                <th>
                                    <input class="form-control" name="defect.Photos[@i].Creator" value="@Model.Photos.ElementAt(i).Creator" />
                                </th>
                                <th>
                                    <input class="form-control" name="defect.Photos[@i].CreatedAt" value="@Model.Photos.ElementAt(i).CreatedAt" />
                                </th>
                                <th>
                                    <input type="file" name="defect.Photos[@i].PhotoFile"/>
                                </th>
                            </tr>
                            }
                    </tbody>
                </table>
                <button id="addMore" class="btn btn-primary">Add more</button>
                <br />
                <br />
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(() => {
        $("#dateCreatedDatepicker").datepicker();
        $("#dateCreatedDatepicker").datepicker("option", "dateFormat", "yy-mm-dd");
        $("#termDateDatepicker").datepicker();
        $("#termDateDatepicker").datepicker("option", "dateFormat", "yy-mm-dd");
        let photoDatepickers = $("input[name$='CreatedAt']");
        console.log("photoDatepickers", photoDatepickers);
        if (photoDatepickers.length > 0) {
            for (let i = 0; i < photoDatepickers.length; i++) {
                $(photoDatepickers[i]).datepicker();
                $(photoDatepickers[i]).datepicker('setDate', new Date());
                $(photoDatepickers[i]).datepicker("option", "dateFormat", "yy-mm-dd");
            }
        }

        $(".hasDatepicker").on('change', (e) => {
            console.log("e.target", e.target);
            console.log("$(e.target)", $(e.target));
            console.log("e.target.value", e.target.value);
            $(e.target).attr('value', e.target.value);
        });

        $("#addMore").click((e) => {
            e.preventDefault();
            photoDatepickers = $("input[name$='CreatedAt']");
            let html =
                `
                    <tr>
                        <th>
                            <input class="form-control" value="Mantas" name="defect.Photos[`+ photoDatepickers.length + `].Creator"/>
                        </th>
                        <th>
                            <input class="form-control" name="defect.Photos[`+ photoDatepickers.length +`].CreatedAt" />
                        </th>
                        <th>
                            <input type="file" name="defect.Photos[`+ photoDatepickers.length +`].PhotoFile"/>
                        </th>
                        <th class="text-center" style="vertical-align: middle; cursor: pointer">
                            <a class="delete">Delete</a>
                        </th>
                    </tr>
                `;
            $(".table-rows").append(html);
            $("input[name='defect.Photos[" + photoDatepickers.length + "].CreatedAt']").datepicker();
            $("input[name='defect.Photos[" + photoDatepickers.length + "].CreatedAt']").datepicker('setDate', new Date());
            $("input[name='defect.Photos[" + photoDatepickers.length + "].CreatedAt']").datepicker("option", "dateFormat", "yy-mm-dd");
            $(".delete").click((e) => {
                e.preventDefault();
                $(e.target).parent().parent().remove();
                let createdAtInputs = $("input[name$='CreatedAt']");
                let creatorInputs = $("input[name$='Creator']");
                let fileInputs = $("input[name$=File]");
                if (createdAtInputs.length > 0) {
                    for (let i = 0; i < createdAtInputs.length; i++) {
                        $(createdAtInputs[i]).attr('name', "defect.Photos[" + i + "].CreatedAt");
                    }
                }
                if (creatorInputs.length > 0) {
                    for (let i = 0; i < creatorInputs.length; i++) {
                        $(creatorInputs[i]).attr('name', "defect.Photos[" + i + "].Creator");
                    }
                }
                if (fileInputs.length > 0) {
                    for (let i = 0; i < fileInputs.length; i++) {
                        $(fileInputs[i]).attr('name', "defect.Photos[" + i + "].File");
                    }
                }
            });
            $(".hasDatepicker").on('change', (e) => {
                console.log("CHANGE");
                $(e.target).val(e.target.value);
            });
        });

    });
</script>
